*{
  zoom: 0.96;
}
#vertical-line {
  border-left: 1px solid white;
  height: 50px;
}
.h1,.h2,.h3,.h4,.h5,.h6,.a,.span,.p{
    font-family: 'lato-Black', sans-serif;
    font-size: 20;
    color: #666;
}
.image_footer-logo{
    max-height: 15%;
    max-width: 15%;
}
.image_footer-museo{
    max-height: 5%;
    max-width: 100px;
}
.image_header-museo{
    max-height: 100%;
    max-width: 200px;
}

.header{
    background-color: #84ae40;
    width: 100%;
    opacity: initial;
    outline: 0;
}


  .forms-login {
    max-width: 500px;
    padding: 15px;
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .form-group{
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
        }
.color-fondo{
    background-color: #f5f5f5
}
.bg-image{
    height: max-content;
    width: max-content;
}


@font-face {
    font-family: 'Lato-Black';
    src: url('fonts/Lato-Black.ttf') format('truetype');
    font-display: swap;

}


@font-face {
    font-family: 'Lato-Black';
    src: url('fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;

}



  @font-face {
    font-family: 'Acherus Grotesque';
    src: url('fonts/acherus_grotesque_-_ultralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;

  }
  
  @font-face {
    font-family: 'Acherus Grotesque';
    src: url('fonts/acherus_grotesque_-_thin.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Acherus Grotesque';
    src: url('fonts/acherus_grotesque_-_light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }


  @font-face {
    font-family: 'Acherus Grotesque';
    src: url('fonts/acherus_grotesque_-_bold_italic.otf') format('opentype');
}

.btn.btn-verde-claro.rounded:hover {
  background-color: #7dcf5a;
}