<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cambio Contraseña</title>
    <link rel="stylesheet" href="../static/css/style1.css" >
    <link rel="stylesheet" href="../static/fonts/linearicons/style.css" >
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"> </script>
</head>

<body class="m-0 vh-100 row  text-center align-items-center justify-content-center "  >

  <div class=" container py-5 h-100" style="background-image:url(../static/images/bg-singnin.jpeg);background-repeat: no-repeat;background-size: cover;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-5">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
                <div class="p-5">
                  <form class=" w-100 m-auto">
                    
                    <div class="form-group mb-2">
                        <h1 class="mb-3 fw-normal"style="color: #008776"> Cambio Contraseña</h1>
                      <div class="form-floating">
                        <label class="font-weight-bold">Contraseña Actual<span class="text-danger"> *</span></label>
                        <input type="password" class="form-control" id="PassActual" placeholder="Contraseña Contraseña"> 
                        <br>
                    </div>
                      <div class="form-floating">
                        
                          <label class="font-weight-bold">Nueva Contraseña<span class="text-danger"> *</span></label>
                          <input type="password" class="form-control" id="NewPass" placeholder="Nueva Contraseña"> 
                          <br>
                      </div>
                      <div class="form-floating">
                          <label class="font-weight-bold">Confirmar Contraseña<span class="text-danger"> *</span></label>
                          <input type="password" class="form-control" id="ConfPass" placeholder="Confirmar Contraseña"> 
                          <br>
                      </div>
                    <br>
                    <button class="btn-login w-100 btn-lg border-light text-light "  type="submit">Cambiar</button>
                    <br>
                    <br> 


                
 
                     
              
                   
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
</body>
  