<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/css/style1.css" media="screen">
    <link rel="stylesheet" href="../static/fonts/linearicons/style.css" media="screen">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">

    <script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"> </script>
  <style>
    footer {
  background-color: #f6f6f6;
  padding: 50px 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #f6f6f6;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 25px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li i {
  margin-right: 10px;
  color: #999;
}

footer ul li a {
  color: #555;
  text-decoration: none;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social li {
  display: inline-block;
  margin-right: 10px;
}

.social li a {
  color: #555;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.2
}
  </style>
</head>
<body>
<header class="header"style="height: 105px;">
    <div class="container" >
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <a class="a" href="index.html" style="margin-top: 35px;" >
          <img class="image_header-museo" src="../static/images/logo (1).png" >
        </a>

          <ul class="nav col-8 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-top: 35px;">
          <li><a href="#" class="nav-link text-light">Inicio</a></li>
          <li><a href="#" onclick="location.href = '/galery'" class="nav-link text-light">Colecciones</a></li>
          <li><a href="#" class="nav-link text-light">Nosotros</a></li>
          <li><a href="#" class="nav-link text-light">Contacto</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" style="margin-top: 35px;">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Buscar" aria-label="Search">
        </form>

        <div class="text-end" style="margin-top: 35px;">
          <button type="button"  onclick="location.href = '/login'" class="btn btn-outline-light me-2">Login</button>
        </div>
      </div>
    </div>
  </header>
  <br>
      <div class="container">
        <h1 class="h1">Bienvenido al Museo de Ciencias de la Univesidad El Bosque</h1>
        

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../static/images/carousel-1.png" class="d-block w-100" alt="car1" width="900" height="500">
            </div>
            <div class="carousel-item">
              <img src="../static/images/carousel-2.jpg" class="d-block w-100" alt="car2" width="900" height="500">
            </div>
            <div class="carousel-item">
              <img src="../static/images/carousel-3.png" class="d-block w-100" alt="car3" width="900" height="500">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <br>
        <div>
          <div class="row">
        <div class="col-lg-6">
       
        <p class="p" style=" text-align: justify; text-justify: inter-word;"> El Museo surge en el 2003 como un espacio para la enseñanza de las ciencias naturales con un componente preponderante de diferentes alternativas y estrategias educativas de dimensión ambiental que permitiera generar sinergias en la sociedad para confrontar las problemáticas que afectan la biodiversidad del país.
          Por esto las prioridades del Museo de Ciencias de la Universidad El Bosque, al realizar proyectos, actividades o trabajos necesariamente tendrán que cumplir con la educación.
          Servicios: 1. Servicios de consulta científica, curatoria de ejemplares y determinación taxonómica.
         </p>
       <br>
      </div>
      
        <div class="col-lg-6">
      
              <img src="/static/images/logo-museo-de-ciencias-naturales.png" alt="mdo" height="200px" width="150px" >
   
    </div>
  </div>


          <h2 class="h2"> Colecciones</h2>
          <div>
            <div class="row">
              <div class="col-lg-6">
        
                <img src="../static/images/aves.png" alt="mdo"  height="200px" width="200px" >
     
      </div>
          <div class="col-lg-6">
            <h2 class="h2">Aves</h2>
          <p class="p" style=" text-align: justify; text-justify: inter-word;"> El Museo surge en el 2003 como un espacio para la enseñanza de las ciencias naturales con un componente preponderante de diferentes alternativas y estrategias educativas de dimensión ambiental que permitiera generar sinergias en la sociedad para confrontar las problemáticas que afectan la biodiversidad del país.
            Por esto las prioridades del Museo de Ciencias de la Universidad El Bosque, al realizar proyectos, actividades o trabajos necesariamente tendrán que cumplir con la educación.
            </p>
         <br>
        </div>
        
          
    </div>



    <div>
      <div class="row">
        <div class="col-lg-6">
  
          <img src="../static/images/reptiles.png" alt="mdo"  height="200px" width="200px" >

</div>
    <div class="col-lg-6">
      <h2 class="h2">Reptiles</h2>
    <p class="p" style=" text-align: justify; text-justify: inter-word;"> El Museo surge en el 2003 como un espacio para la enseñanza de las ciencias naturales con un componente preponderante de diferentes alternativas y estrategias educativas de dimensión ambiental que permitiera generar sinergias en la sociedad para confrontar las problemáticas que afectan la biodiversidad del país.
      Por esto las prioridades del Museo de Ciencias de la Universidad El Bosque, al realizar proyectos, actividades o trabajos necesariamente tendrán que cumplir con la educación.
     </p>
   <br>
  </div>
  
    
</div>





<div>
  <div class="row">
    <div class="col-lg-6">
    
      <img src="../static/images/frog.png" alt="mdo"  height="200px" width="200px" >

</div>
<div class="col-lg-6">
  <h2 class="h2">Anfibios</h2>
<p class="p" style=" text-align: justify; text-justify: inter-word;"> El Museo surge en el 2003 como un espacio para la enseñanza de las ciencias naturales con un componente preponderante de diferentes alternativas y estrategias educativas de dimensión ambiental que permitiera generar sinergias en la sociedad para confrontar las problemáticas que afectan la biodiversidad del país.
  Por esto las prioridades del Museo de Ciencias de la Universidad El Bosque, al realizar proyectos, actividades o trabajos necesariamente tendrán que cumplir con la educación.
 </p>
<br>
</div>


</div>




<div>
  <div class="row">
    <div class="col-lg-6">

      <img src="../static/images/mamiferos.png" alt="mdo" height="200px" width="200px"  >

</div>
<div class="col-lg-6">
  <h2 class="h2">Mamiferos</h2>
<p class="p" style=" text-align: justify; text-justify: inter-word;"> El Museo surge en el 2003 como un espacio para la enseñanza de las ciencias naturales con un componente preponderante de diferentes alternativas y estrategias educativas de dimensión ambiental que permitiera generar sinergias en la sociedad para confrontar las problemáticas que afectan la biodiversidad del país.
  Por esto las prioridades del Museo de Ciencias de la Universidad El Bosque, al realizar proyectos, actividades o trabajos necesariamente tendrán que cumplir con la educación.
 </p>
<br>
</div>


</div>
</div>
</body>

<footer class="header mh-100"> 
  <div class="footer-container">
    <div class="row">
      <h2 class="h2 text-light centered"style="text-light" >Museo De Ciencias de La Universidad El Bosque</h2>
      <div class="col-md-4">
        <h3>Contacto</h3>
        <ul>
          <li><i class="text-light fa fa-map-marker"></i> Dirección: Av. Cra. 9 No. 131 A - 02, Bogotá, Colombia</li>
          <li><i class="text-light fa fa-phone"></i> Teléfono: 018000 113033</li>
          <li><i class="text-light fa fa-envelope"></i> Email: info@unbosque.edu.co</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Enlaces</h3>
        <ul>
          <li><a class="h6 text-light" href="#">Inicio</a></li>
          <li><a class="h6 text-light" href="#">Programas Académicos</a></li>
          <li><a class="h6 text-light" href="#">Investigación</a></li>
          <li><a class="h6 text-light" href="#">Admisiones</a></li>
          <li><a class="h6 text-light" href="#">Campus Virtual</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Síguenos</h3>
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook"><img src="/static/images/Iconos individuales blanco-09.png" alt=""></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"><img src="/static/images/Iconos individuales blanco-12.png.png" alt=""></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"><img src="/static/images/Iconos individuales blanco-08.png.png" alt=""></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"><img src="/static/images/Iconos individuales blanco-09.png" alt=""></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


</html>