<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registro Actividades</title>
    <link rel="stylesheet" href="../static/css/style1.css" media="screen">
    <link rel="stylesheet" href="../static/fonts/linearicons/style.css" media="screen">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"> </script>
</head>
<section class="  h-100 h-custom gradient-custom-2">
    <div class=" container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5 text-center" style="color: #84ae40;">Informe de la actividad</h3>
                    <div class="mb-4 pb-2">
                        <div class="row">
                            <div class="mb-4 pb-2 mb-md-0 pb-md-0">
                              
                              <div class="form-outline">
                                <input type="text" id="clase" class="form-control form-control-lg" placeholder="Numero de Catalogo"/>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="mb-4 pb-2">
                        <div class="row">
                            <div class="mb-4 pb-2 mb-md-0 pb-md-0">
                              
                              <div class="form-outline">
                                <select class="col-12 form-select-lg  form-control">
                                  <option selected>Tarea realizada</option>
                                  <option value="1">Determinacion de muestras</option>
                                  <option value="2">Conservacion de material</option>
                                  <option value="3">Montaje del material en seco</option>
                                  <option value="4">Registro de la base de datos en Excel</option>
                                  <option value="5">Organizar la coleccion por orden afabético</option>
                                  <option value="6">Revisión bibligráfica</option>
                                  <option value="7">Curación de los ejemplares</option>
                                </select>
                              </div>
                            </div>
                          </div>
                      </div>
                    <div class="mb-4 pb-2">  
                    <div class="row">
                        <div class="col-sm-6 mb-4 pb-2 mb-md-0 pb-md-0">
                            <div class="form-outline">
                                <input type="text" id="clase" class="form-control form-control-lg" placeholder="Hora de registro (24h)"/>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-4 pb-2 mb-md-0 pb-md-0">
                          <div class="form-outline">
                            <input type="text" id="clase" class="form-control form-control-lg" placeholder=" Fecha(DD/MM/AAAA)"/>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="mb-4 pb-2">  
                        <div class="row">
                            <div class="mb-4 pb-2 mb-md-0 pb-md-0">
                                <div class="form-outline">
                                    <input type="text" id="clase" class="form-control form-control-lg" placeholder="Tarea realizada"/>
                                </div>
                            </div>
                        </div>
                    </div>
  
                    <div class="mb-4 pb-2">  
                        <div class="row">
                            <div class="mb-4 pb-2 mb-md-0 pb-md-0">
                                <div class="form-outline">
                                    <textarea class="form-control " placeholder="Descripción" rows="4" cols="50" id="descripcion" name="descripcion" " required="" ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 pb-2">  
                        <div class="row">
                            <div class="mb-4 pb-2 mb-md-0 pb-md-0">
                                <div class="form-outline">
                                    <button type="button" class="btn-login w-100 btn-lg border-light text-light">Generar Informe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>