<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style1.css" >
    <link rel="stylesheet" href="../static/fonts/linearicons/style.css" >
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"> </script>
</head>

<body class="m-0 vh-100 row  text-center align-items-center justify-content-center"  >
    <div class=" container py-5 h-100" style="background-image:url(../static/images/bg-singnin.jpeg);background-repeat: no-repeat;background-size: cover;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-5">
              <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                  <div class="row g-0">
                      <div class="p-5">
      
                        <form  action="{% url 'login' %}" method= POST class=" w-100 m-auto">
                          <h2 class="mb-3 fw-normal"style="color: #84ae40">Aún no se ha iniciado sesión</h2>


                          <button class="btn-login w-100 btn-lg border-light text-light " onclick="location.href = '/login'"  type="submit">Llevame ahí</button>
      
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    </div>

  
</body>