<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Perfil</title>
<link rel="stylesheet" href="../static/css/style1.css" media="screen">
<link rel="stylesheet" href="../static/fonts/linearicons/style.css" media="screen">
<link rel="stylesheet" href="../static/css/bootstrap.min.css" >
<script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"> </script>
</head>
    <body>
        <hr>
        <div class=" container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10" ><h1 style="color: #008776">Perfil Personal</h1></div>
        </div>
        <div class="row">
        <div class="col-sm-3">
            <div class="text-center">
            <img src="../static/images/galeria-6.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
            <h6>Cambiar foto</h6>
            <input type="file" class="text-center center-block file-upload">
            </div>
        </hr>
    <br>
        
        <ul class="list-group">
        <li class="list-group-item text-muted">Tareas Realizadas <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Registros</strong></span> 0</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Cambios</strong></span> 0</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Revisiones</strong></span> 0</li>
        </ul> 
            
        </div>
        <div class="col-9">
            <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">
                            
                            <div class="col-xs-6">
                                <label for="nombre"><h4 style="color: #777">Nombre</h4></label>
                                <input type="text" class="form-control" name="nombre id="nombre" placeholder="<nombre_usuario>" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            
                            <div class="col-xs-6">
                            <label for="apellido"><h4 style="color: #777">Apellido</h4></label>
                                <input type="text" class="form-control" name="apellido" id="apellido" placeholder="<apellido_user>" disabled>
                            </div>
                        </div>
            
                        <div class="form-group">
                            
                            <div class="col-xs-6">
                                <label for="rolMuseo"><h4 style="color: #777">Rol</h4></label>
                                <input type="text" class="form-control" name="rolMuseo" id="rolMuseo" placeholder="<rol_usuario>" disabled>
                            </div>
                        </div>
            
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="carrera"><h4 style="color: #777">Carrera</h4></label>
                                <input type="text" class="form-control" name="carrera" id="carrera" placeholder="<carrera_usuario>" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            
                            <div class="col-xs-6">
                                <label for="correo"><h4 style="color: #777">Correo Institucional</h4></label>
                                <input type="email" class="form-control" name="correo" id="correo" placeholder="<correo_usuario>" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                    <button class="btn-lg text-light border-light pull-right" type="submit" style="background-color: #008776;"><i class="glyphicon glyphicon-ok-sign"></i>Cambios</button>
                            </div>
                        </div>
                    </form>
                
                <hr>
                
                </div>
            </div>
        </div>
    </div>
                                                        
    </body>