<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style1.css" >
    <link rel="stylesheet" href="../static/fonts/linearicons/style.css" >
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"> </script>
</head>

<body class="m-0 vh-100 row  text-center align-items-center justify-content-center "  >

  <div class=" container py-5 h-100" style="background-image:url(../static/images/bg-singnin.jpeg);background-repeat: no-repeat;background-size: cover;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-5">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
                <div class="p-5">

                  <form action= "{%url 'register' %}" method= POST class=" w-100 m-auto">
                   
                    {% csrf_token %}
                    <div class="form-group mb-2">
                      <div class="form-floating">
                        {{ form.username }}
                        <label class="font-weight-bold">Usuario<span class="text-danger"> *</span></label>
                        <!--<input type="text" name="nombreUser" class="form-control" placeholder="Digite su nombre" required>-->
                        <br>
                    </div>
                      <div class="form-floating">
                        {{ form.nombre }}
                          <label class="font-weight-bold">Nombre<span class="text-danger"> *</span></label>
                          <!--<input type="text" name="nombreUser" class="form-control" placeholder="Digite su nombre" required>-->
                          <br>
                      </div>
                      <div class="form-floating">
                        {{ form.apellido }}
                          <label class="font-weight-bold">Apellido<span class="text-danger"> *</span></label>
                          <!--<input type="text" name="apellidoUser" class="form-control" placeholder="Digite su apellido" required>-->
                          <br>
                      </div>
                      <div class="form-floating">
                        {{ form.correo }}
                        <label class="font-weight-bold">Correo<span class="text-danger"> *</span></label>
                        <!--<input type="text" name="apellidoUser" class="form-control" placeholder="Digite su apellido" required>-->
                        <br>
                    </div>
                    <div class="form-floating">
                      {{ form.password }}
                      <label  type="password" class="font-weight-bold">Contraseña<span class="text-danger"> *</span></label>
                      <!--<input type="text" name="apellidoUser" class="form-control" placeholder="Digite su apellido" required>-->
                      <br>
                  </div>
                    <div class="form-floating col-12 ">
                      
                        <select class="form-select ">
                          <option selected>Rol</option>
                          <option value="1">Auxiliar</option>
                          <option value="2">Pasante</option>
                          <option value="3">Curador</option>
                          <option value="4">Otro</option>
                        </select>
                      <!--<input type="email" name="correoUser" class="form-control" placeholder="Example@email.com" required>-->
                      
                    </div>
                    <br>
                    <button class="btn-login w-100 btn-lg border-light text-light "  value="Register"  type="submit">Ingresar</button>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
</body>
  