<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style1.css" >
    <link rel="stylesheet" href="../static/fonts/linearicons/style.css" >
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"> </script>
</head>

<body class="m-0 vh-100 row  text-center align-items-center justify-content-center body-login "  >

  <div class=" container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-5">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
                <div class="p-5">

                  <form action= "{%url 'register' %}" method= POST class=" w-100 m-auto">
                   
                    {% csrf_token %}
                    <div class="form-row mb-2">
                      <div class="form-group col-md-6">
                        <label class="font-weight-bold">Usuario<span class="text-danger"> *</span></label>
                        <!--<input type="text" name="nombreUser" class="form-control" placeholder="Digite su nombre" required>-->
                        {{ form.username }}
                    </div>
                      <div class="form-group col-md-6">
                          <label class="font-weight-bold">Nombre<span class="text-danger"> *</span></label>
                          <!--<input type="text" name="nombreUser" class="form-control" placeholder="Digite su nombre" required>-->
                          {{ form.nombre }}
                      </div>
                      <div class="form-group col-md-6">
                          <label class="font-weight-bold">Apellido<span class="text-danger"> *</span></label>
                          <!--<input type="text" name="apellidoUser" class="form-control" placeholder="Digite su apellido" required>-->
                          {{ form.apellido }}
                      </div>
                      <div class="form-group col-md-6">
                        <label class="font-weight-bold">Correo<span class="text-danger"> *</span></label>
                        <!--<input type="text" name="apellidoUser" class="form-control" placeholder="Digite su apellido" required>-->
                        {{ form.correo }}
                    </div>
                    <div class="form-group col-md-6">
                      <label  type="password" class="font-weight-bold">Contraseña<span class="text-danger"> *</span></label>
                      <!--<input type="text" name="apellidoUser" class="form-control" placeholder="Digite su apellido" required>-->
                      {{ form.password }}
                  </div>
                    <div class="form-group mb-3">
                      <label class="font-weight-bold">Rol<span class="text-danger"> *</span></label>
                      <!--<input type="email" name="correoUser" class="form-control" placeholder="Example@email.com" required>-->
                      {{ form.rol }}
                  </div>
			
                    <button class="btn-login w-100 btn-lg border-light text-light "  value="Register"  type="submit">Ingresar</button>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="bg-image" src="../static/images/bg-singnin.jpeg" alt="bg-login"> 
  </div>
  
</body>
  