<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registro</title>
    <link rel="stylesheet" href="../static/css/style1.css" media="screen">
    <link rel="stylesheet" href="../static/fonts/linearicons/style.css" media="screen">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"> </script>
</head>
<section class=" body-login h-100 h-custom gradient-custom-2">
    <div class=" container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #84ae40;">Registro Especimen</h3>
                    <div class="mb-4 pb-2">
                        <div class="row">
                            <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                              <div class="form-outline">
                                <input type="text" id="recordedBy" class="form-control form-control-lg" placeholder="recordedBy"/>
                              </div>
                            </div>
      
                              <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                                  <div class="form-outline">
                                    <input type="text" id="ocurrenceRemarks" class="form-control form-control-lg" placeholder="ocurrenceRemarks"/>
                                  </div>
                                </div>
                          </div>
                      </div>
                    <div class="row">
                      <div class="col-md-4 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="catalogNumber" class="form-control form-control-lg" placeholder="Numero"/>
                        </div>
  
                      </div>
                      <div class="col-md-8 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="dataSetName" class="form-control form-control-lg" placeholder="datasetName"/>
                        </div>
  
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                        <div class="form-outline">
                            <input type="text" id="individualCount" class="form-control form-control-lg" placeholder="individualCount"/>
                          </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input type="text" id="dateEvent" class="form-control form-control-lg" placeholder="Fecha (DD/MM/AA)"/>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                        <div class="form-outline">
                          <input type="text" id="departamento" class="form-control form-control-lg" placeholder="Departamento"/>
                        </div>
                      </div>

                        <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                            <div class="form-outline">
                              <input type="text" id="municipio" class="form-control form-control-lg" placeholder="Municipio"/>
                            </div>
                        </div> 
                    </div>
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <label for="fotoEjemplar"> </label>
                        <input type="file" id="fotoEjemplar" name="fotoEjemplar" class="form-control form-control-lg" placeholder="Foto del ejemplar"/>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">texto de relleno para que quede bien</h3>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="nombreComun" class="form-control form-control-lg" placeholder="Nombre Común"/>
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                        <div class="row">
                            <div class="col-md-9 mb-4 pb-2 mb-md-0 pb-md-0">
                              <div class="form-outline">
                                <input type="text" id="nombreCientifico" class="form-control form-control-lg" placeholder="Nombre Cientifico"/>
                              </div>
                            </div>
      
                              <div class="col-md-3 mb-4 pb-2 mb-md-0 pb-md-0">
                                  <div class="form-outline">
                                    <input type="text" id="habitat" class="form-control form-control-lg" placeholder="Habitat"/>
                                  </div>
                                </div>
                          </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="dateIdentified" class="form-control form-control-lg" placeholder="Fecha Identificado" />
                        </div>
  
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="identifiedBy" class="form-control form-control-lg" placeholder="Identificado por"/>
                        </div>
  
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="IdentificationReferences" class="form-control form-control-lg" placeholder="IdentificationReferences" />
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-4 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="clase" class="form-control form-control-lg" placeholder="Clase"/>
                        </div>
  
                      </div>
                      <div class="col-md-4 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="orden" class="form-control form-control-lg" placeholder="Orden" />
                        </div>
  
                      </div>
                      <div class="col-md-4 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="familia" class="form-control form-control-lg" placeholder="Familia"/>
                        </div>
  
                      </div>
                    </div>
  
                    <div class="mb-4">
                      <div class="form-outline form-white">
                        <input type="text" id="IdentificationRemarks" class="form-control form-control-lg" placeholder="IdentificationRemarks"/>
                      </div>
                    </div>
  
                    <button type="button" class="btn-login w-100 btn-lg border-light text-light">Registrar</button>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>