<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style1.css" >
    <link rel="stylesheet" href="../static/fonts/linearicons/style.css" >
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"> </script>
</head>
<style>
  footer {
background-color: #f6f6f6;
padding: 50px 0;
font-family: 'Lato', sans-serif;
font-size: 16px;
color: #f6f6f6;
}
@font-face {
font-family: 'Lato-Black';
src: url('fonts/Lato-Black.ttf') format('truetype');
}
p {
font-family: 'Lato-Black', sans-serif;
}
.h1 {
font-family: 'Lato-Black', sans-serif;

}
.h2 {
font-family: 'Lato-Black', sans-serif;
color: #81bb26;
}
.h3 {
font-family: 'Acherus Grotesque', sans-serif;
}
.h4 {
font-family: 'Lato-Black', sans-serif;

}
.h5 {
font-family: 'Lato-Black', sans-serif;

}
.social {
list-style: none;
padding: 0;
margin: 0;
}
footer {
background-color: #81bb26;
color: #666;
text-align: center;
padding: 20px;

bottom: 0;
width: 100%;
}
.nav-pills .nav-link.active {
background-color:#404827;;
color: white;
}
.navbar {
background-color: #008776;

}
.navbar-custom {
background-color: #008776; 
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 999;

}

body {
background-image: url('../static/images/fondo.png');
background-size: cover;
}

.btn-custom:hover {
transform: scale(1.2);
color: #008776; 
border: none;
}
.btn-custom {
color: white;
background-color: #008776; 
padding: 10px 20px;
border: none;
transition: transform 0.3s ease;
font-family:'Lato-Black', sans-serif;
}
.btn-customizedlogin {
color: white;
        background-color: #008776; 
      
        padding: 12px 24px;
        font-size: 20px;
        border-radius: 22px;
        border: 2px solid;
        transition: transform 0.3s ease;
        font-family:'Lato-Black', sans-serif;

}
.btn-customizedlogin :hover {
transform: scale(1.2);
color: #008776; 
border: none;
}
</style>
<nav class="navbar navbar-expand-lg navbar-light navbar-custom border-0">
  <a class="navbar-nav " href="#" onclick="location.href = '/index'" >
    <img class="image_header-museo" src="/static/images/logo (1).png"  style="width: 200%; height:200%" >
  </a>
  <a class="navbar-nav " href="#" onclick="location.href = '/index'" >
    <img class="image_header-museo" src="/static/images/logo-museo-de-ciencias-naturales-Blanco.png"  style="width: 30%; height:30%" >
  </a>
  
  <div class="collapse navbar-collapse justify-content-center mx-auto" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <button class="btn btn-custom btn-fade btn-lg " href="#" onclick="location.href = '/index'" type="button">Inicio</button>
      <button class="btn btn-custom btn-fade btn-lg " href="#" onclick="location.href = '/galery'"  type="button">Colecciones</button>
      <button class="btn btn-custom btn-fade btn-lg " href="#" onclick="location.href = '/nosotros'"  type="button">Quienes Somos</button>
    
      <button class="btn btn-custom btn-fade btn-lg " type="button">Contáctenos</button>


      
      {% if  user.is_authenticated  %}
      <button class="btn btn-custom btn-fade btn-lg" type="button" disabled> Hola {{ user.nombre }}</button>

      {% if rol.id == 4 %}
      
      <button class="btn btn-custom btn-fade btn-lg "   href="#" onclick="location.href = '/dash'"  type="button">Volver al DashBoard</button>
  {% elif rol.id == 1 %}
     
      <button class="btn btn-custom btn-fade btn-lg " href="#" onclick="location.href = '/dashAux'"  type="button">Volver al DashBoard</button>
    {% elif rol.id == 2 %}
     
      <button class="btn btn-custom btn-fade btn-lg " href="#" onclick="location.href = '/dashPas'"  type="button">Volver al DashBoard</button>
    {% elif rol.id == 3 %}
     
      <button class="btn btn-custom btn-fade btn-lg " href="#" onclick="location.href = '/dashCur'"  type="button">Volver al DashBoard</button>
  {% endif %}


     
    {% endif %}
    <div class="text-end" >
      <button class="btn btn-custom btn-fade btn-lg " onclick="location.href = '/login'" >Login</button>
    </div>
    </div>
  </div>
</nav>
<body class="m-0 vh-100 row  text-center align-items-center justify-content-center "  >
  <div class=" container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-8">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
                
                  <form action= "updateEjemplar/{{contexto.id}}" method= POST class="  m-auto" enctype="multipart/form-data">
                    {% csrf_token %}
                    <br>
                    <br><br>
                    <br>
                    <h1 class="h1">Actualizar Ejemplar</h1>
                    <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group m-2">
                        <div class="form-floating">
                          
                          <input name="NumeroCatalogo" value="{{ contexto.numeroCatalogo }}" class = "form-control">
                          <label class="font-weight-bold">NumeroCatalogo<span class="text-danger"> *</span></label>
                          
                          <br>
                        </div>
                        <div class="form-floating">
                          
                          <input name="NombreDelConjuntoDatos" value="{{ contexto.nombreDelConjuntoDatos }}"  class = "form-control">
                          <label class="font-weight-bold">NombreDelConjuntoDatos<span class="text-danger"> *</span></label>
                          
                          <br>
                        </div>
                        <div class="form-floating">
                           <input name="ComentarioRegistroBiologico" value="{{ contexto.comentarioRegistro }}"  class = "form-control">
                            <label class="font-weight-bold">ComentarioRegistroBiologico<span class="text-danger"> *</span></label>
                          
                            <br>
                        </div>
                        <div class="form-floating">
                          <input name="RegistradoPor" value="{{ contexto.registrado }}" class = "form-control">
                          <label class="font-weight-bold">RegistradoPor<span class="text-danger"> *</span></label>
                          <br>
                        </div>
                        <div class="form-floating">
                            <input name="NumeroIndividuo" value="{{ contexto.numeroIndividuo }}" class = "form-control" >
                            <label   class="font-weight-bold">NumeroIndividuo<span class="text-danger"> *</span></label>
                          
                            <br>
                        </div>
                        <div class="form-floating">
                          <input name="FechaEvento" value="{{ contexto.fechaEvento }}" class = "form-control" disabled>
                          <label class="font-weight-bold">FechaEvento<span class="text-danger"> *</span></label>
                        
                          <br>
                        </div>
                        <div class="form-floating">
                          <input name="Habitad" value="{{ contexto.habitad }}" class = "form-control">
                          <label   class="font-weight-bold">Habitad<span class="text-danger"> *</span></label>   
                        
                          <br>
                        </div>
                        <div class="form-floating">
                          <input name="Departamento" value="{{ contexto.departamento }}" class = "form-control">
                          <label  class="font-weight-bold">Departamento<span class="text-danger"> *</span></label>
                        
                          <br>
                        </div>
                        <div class="form-floating">
                          <input name="NombreComun" value="{{ contexto.nombreComun }}" class = "form-control">
                          <label  type="password" class="font-weight-bold">Nombre Común<span class="text-danger"> *</span></label>
                        
                          <br>
                        </div>
                        <div class="form-floating">
                          <input name="Municipio" value="{{ contexto.municipio }}" class = "form-control">
                          <label class="font-weight-bold">Municipio<span class="text-danger"> *</span></label>
                          <br>
                        </div>                        
                      </div>
                    </div>                   
                    <div class="col-lg-6">
                      <div class="form-group m-2">

            <div class="form-floating">
              <input name="IdentificadoPor" value="{{ contexto.identificadoPor }}" class = "form-control">
              <label   class="font-weight-bold">IdentificadoPor<span class="text-danger"> *</span></label>
            
              <br>
            </div>
            <div class="form-floating">
              <input name="FechaIdentificacion" value="{{ contexto.fechaIdentificacion }}" class = "form-control" disabled>
              <label   class="font-weight-bold">FechaIdentificacion<span class="text-danger"> *</span></label>
            
              <br>
            </div>
            <div class="form-floating">
              <input name="IdentificacionReferencias" value="{{ contexto.identificacionReferencias }}" class = "form-control">
              <label  class="font-weight-bold">IdentificacionReferencias<span class="text-danger"> *</span></label>
            
              <br>
            </div>
            <div class="form-floating">
              <input name="ComentarioIdentificacion" value="{{ contexto.comentarioIdentificacion }}" class = "form-control">
              <label  class="font-weight-bold">ComentarioIdentificacion<span class="text-danger"> *</span></label>
            
              <br>
            </div>
            <div class="form-floating">
              <input name="NombreCientifico" value="{{ contexto.nombreCientifico }}" class = "form-control" >
              <label  class="font-weight-bold">NombreCientifico<span class="text-danger"> *</span></label>
            
              <br>
            </div>
            <div class="form-floating">
                                  
              <input name="Clase" value="{{ contexto.clase }}" class = "form-control">                   
              <label  class="font-weight-bold">Clase<span class="text-danger"> *</span></label>
              
            </div>
            <br>
            <div class="form-floating">
                                  
              <input name="Orden" value="{{ contexto.orden }}" class = "form-control">                   
              <label  class="font-weight-bold">Orden<span class="text-danger"> *</span></label>
              
            </div>
            <br>
            <div class="form-floating">
                                  
              <input name="Genero" value="{{ contexto.genero }}" class = "form-control">                   
              <label  class="font-weight-bold">Genero<span class="text-danger"> *</span></label>
              
            </div>
            <br>
            <div class="form-floating">
                                  
              <input name="Familia" value="{{ contexto.familia }}" class = "form-control">                   
              <label  class="font-weight-bold">Familia<span class="text-danger"> *</span></label>
              
            </div>
            <br>
            <div class="form-floating">
                                  
              <input type="file" name="imagen" id="imagen">
              <label  class="font-weight-bold">Imagen<span class="text-danger"> *</span></label>
              
            </div>
            
  <br>


                      <br>
                      <button class=" w-100 btn-lg border-light text-light "  value="Register"  type="submit" style="background-color:#008776 ;">Ingresar</button>
                    

                    
                    </div>
                  </div>
                  </form>  
                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</body>
  